.advantages__wrapper {
  max-width: $desktop-width;
  margin: 0 auto 20px;
}

.advantages__title {
  margin: 0 0 20px 0;
  padding: 0 15px;
  font-size: 22px;
  line-height: 22px;
  font-weight: 900;
  color: $color-green;
  text-transform: uppercase;
}

.advantages__list {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding: 0 15px;
  margin: 0;
  list-style: none;
}

.advantages__item {
  width: 100%;
  margin-bottom: 20px;
  padding-left: 70px;
  box-sizing: border-box;

  &--icon-one,
  &--icon-two,
  &--icon-three,
  &--icon-four,
  &--icon-five,
  &--icon-six {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      display: block;
    }
  }

  &--icon-one::before {
    @include sprite ($advantages-handshake);
  }

  &--icon-two::before {
    @include sprite ($advantages-hourglass);
  }

  &--icon-three::before {
    @include sprite ($advantages-operator);
  }

  &--icon-four::before {
    @include sprite ($advantages-contract);
  }

  &--icon-five::before {
    @include sprite ($advantages-calendar);
  }

  &--icon-six::before {
    @include sprite ($advantages-rating);
  }
}

.advantages__name {
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
}

.advantages__text {
  font-size: 18px;
  line-height: 18px;
  font-weight: 300;
}

@media (min-width: $tablet-width) {
  .advantages__wrapper {
    margin-bottom: 70px;
  }

  .advantages__title {
    font-size: 30px;
    line-height: 30px;
  }

  .advantages__list {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .advantages__item {
    width: 50%;
    margin-bottom: 40px;
  }
}

@media (min-width: $desktop-width-big) {
  .advantages__list {
    padding: 0;
  }
}
