.block {
  display: flex;
  flex-direction: column;
  max-width: $desktop-width-big;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}

.block__wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}

.block__title {
  margin-bottom: 20px;
  padding: 0 15px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 900;
  color: $color-green;
  text-transform: uppercase;
}

.block__item {
  width: 100%;
}

@media (min-width: $tablet-width) {
  .block {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .block__wrapper {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .block__item {
    width: 50%;

    &--right {
      order: 1;
    }

    &--big {
      width: 50%;
    }

    &--small {
      width: 50%;
    }
  }

  .block__title {
    margin-bottom: 40px;
    padding: 0 15px;
    font-size: 30px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .block__item {
    &--big {
      width: 60%;
    }

    &--small {
      width: 40%;
    }
  }
}
