.block {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.block__item {
  width: 100%;
}

@media (min-width: $tablet-width) {
  .block {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .block__item {
    width: 50%;

    &--right {
      order: 1;
    }

    &--big {
      width: 50%;
    }

    &--small {
      width: 50%;
    }
  }
}

@media (min-width: $desktop-width) {
  .block__item {
    &--big {
      width: 60%;
    }

    &--small {
      width: 40%;
    }
  }
}
