.button {
  display: inline-block;
  vertical-align: middle;
  padding: 20px 40px;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  background-color: transparent;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  user-select: none;
  cursor: pointer;
}
