.button {
  display: inline-block;
  vertical-align: middle;
  padding: 10px 20px;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  border: none;
  background-color: transparent;
  text-decoration: none;
  white-space: nowrap;
  user-select: none;
  cursor: pointer;
  transition: 1s;
}

@media (min-width: $desktop-width) {
  .button {
    padding: 15px 20px;
  }
}
