.calc-tabs {
  width: 100%;
}

.calc-tabs__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: $desktop-width;
  padding: 40px 0;
  margin: 0 auto;
  list-style: none;
}

.calc-tabs__item {
  margin-bottom: 10px;
  padding: 5px 15px;
  box-sizing: border-box;
}

.calc-tabs__button {
  width: 100%;
  padding: 10px 20px;
  background-color: $color-light-grey-4;
  border-radius: 20px;
  box-sizing: border-box;
  outline: none;

  &:hover,
  &:focus,
  &:active {
    color: #ffffff;
    background-color: $color-green;
    box-shadow: 0 0 60px 0 rgba(34,34,34,.3);
  }
}

@media (min-width: $tablet-width) {
  .calc-tabs__list {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .calc-tabs__item {
    width: 50%;
  }
}

@media (min-width: $desktop-width) {
  .calc-tabs__item {
    width: 25%;
  }
}

