.calc-install-win {
  max-width: $desktop-width;
  margin: 0 auto 40px;
}

.calc-install-win__title {
  font-size: 16px;
  line-height: 18px;
  margin: 0;
}

.calc-install-win__group {
  border: none;
}

.calc-install-win__item {
  margin: 0;
}

.calc-install-win__label {
  position: relative;
  display: block;
  margin-bottom: 20px;
  padding-left: 30px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: $text-color;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 25px;
    height: 25px;

    background-image: url("../../img/icon/radio-off.png");
    background-repeat: no-repeat;

    opacity: 0.8;
  }
}

.calc-install-win__radio:checked + .calc-install-win__label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 20px;
  height: 20px;

  background-image: url("../../img/icon/radio-on.png");
  background-repeat: no-repeat;
}

.calc-install-win__item .calc-install-win__label:hover::before {
  opacity: 1;
}

.calc-install-win__item .calc-install-win__label:disabled::before {
  opacity: 0.4;
}
