.certificates {
  padding: 50px 0;
  background-image: url("../img/progress/progress--bg.jpg");
  background-repeat: repeat;
  background-position: 0 0;
  background-size: contain;
}

.certificates__list {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 0;
  margin: 0;
  list-style: none;
}

.certificates__item {
  width: 100%;
}

.certificates__link {
  display: flex;
  justify-content: center;
}

.certificates__pic {
  margin-bottom: 20px;
  width: 168px;
  height: auto;
  object-fit: contain;
}

@media (min-width: $tablet-width) {
  .certificates__list {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .certificates__item {
    width: 33%;
  }
}

@media (min-width: $desktop-width) {
  .certificates {
    background-image: none;
  }

  .certificates__item {
    width: 33%;
  }
}
