.content-block {
  display: flex;
  flex-direction: column;

  &__wrapper {
    display: flex;
    flex-direction: column;
    max-width: $desktop-width-big;
    width: 100%;
    margin: 0 auto 20px;
    padding: 0 15px;
    box-sizing: border-box;

    &--width {
      max-width: $desktop-width;
    }
  }
}

.content-block__title {
  margin: 0 0 25px;
  font-size: 22px;
  line-height: 22px;
  font-weight: 900;
  color: $color-green;
  text-transform: uppercase;
}

.content-block__item {
  display: flex;
  flex-direction: column;
  width: 100%;

  &--bottom {
    align-self: flex-end;
  }

  & p {
    margin: 0 0 10px;
  }
}

.content-block__inner {
  display: flex;
  flex-direction: column;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .content-block__wrapper {
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
  }

  .content-block__inner {
    padding: 15px;
  }

  .content-block__item {
    width: 50%;
  }

  .content-block__title {
    font-size: 27px;
    line-height: 27px;
  }
}

@media (min-width: $desktop-width) {
  .content-block__wrapper {
    padding: 0;
  }
}
