.contacts {

}

.contacts__list {

}

.contacts__item {

}

.contacts__phone-and-email {

}

.contacts__phone {

}

.contacts__name {
  &--small {

  }

  &--bold {

  }
}

.contacts__link {

}

.contacts__requisites p {
  margin: 0;
  font-size: 16px;
  line-height: 16px;
  font-weight: 300;
  color: #c1c1c1;
}