.factors__wrapper {
  max-width: $desktop-width;
  margin: 0 auto 40px;
}

.factors__title {
  max-width: 450px;
  margin-bottom: 40px;
  padding: 0 15px;
  font-size: 22px;
  line-height: 35px;
  font-weight: 900;
  color: $color-green;
  text-transform: uppercase;
}

.factors__inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: $desktop-width;
  margin: 0 auto;
}

.factors__item {
  position: relative;
  width: 100%;

  &:first-child {
    order: 1;
  }
}

.factors__item picture {
  display: flex;
  justify-content: center;
  align-items: center;
}

.factors__text {
  position: relative;
  padding: 50px 50px 50px 60px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 300;
  box-shadow: 0 0 57px 0 rgba(34, 34, 34, 0.3);

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 15px;
    height: 100%;
    background-color: $color-light-green;
    z-index: 1;
  }
}

.factors__pic {
  max-width: 100%;
}

.factors__info {
  display: none;
  position: relative;
}

@media (min-width: $tablet-width) {
  .factors__title {
    font-size: 30px;
    line-height: 30px;
  }

  .factors__inner {
    flex-direction: row;
  }

  .factors__item {
    width: 50%;

    &:first-child {
      order: 0;
    }
  }
}

@media (min-width: 1023px) {
  .factors__mark {
    display: block;

    &--one,
    &--two,
    &--three,
    &--four,
    &--five {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 10;
      display: block;
      width: 64px;
      height: 64px;
      background-image: url("../../img/icon/normal4.png");
      background-repeat: no-repeat;
      cursor: pointer;
    }

    &--one {
      top: 55px;
      left: 240px;
    }

    &--two {
      top: 150px;
      left: 45px;
    }

    &--three {
      top: auto;
      left: auto;
      bottom: 265px;
      right: 185px;
    }

    &--four {
      top: auto;
      bottom: 243px;
      left: 110px;
    }

    &--five {
      top: auto;
      bottom: 128px;
      left: 140px;
    }

    &--one:hover,
    &--two:hover,
    &--three:hover,
    &--four:hover,
    &--five:hover {
      background-image: url("../../img/icon/hover.png");
    }

    &--one:hover .factors__info,
    &--two:hover .factors__info,
    &--three:hover .factors__info,
    &--four:hover .factors__info,
    &--five:hover .factors__info {
      display: block;
      position: absolute;
      left: 55px;
      top: -85px;
      width: 240px;
      margin: 0;
      padding: 10px;
      font-size: 18px;
      line-height: 18px;
      font-weight: 300;
      background-color: #ffffff;
      border-radius: 10px;
      box-shadow: 0 1px 24px rgba(67, 67, 67, 0.45);
    }

    &--three:hover .factors__info {
      top: 60px;
      left: -95px;
    }

    &--one:hover .factors__info {
      left: 0;
    }
  }
}


@media (min-width: $desktop-width) {
  .factors__item picture {
    justify-content: flex-start;
  }

  .factors__mark--one:hover .factors__info {
    left: 55px;
  }
}

@media (min-width: $desktop-width-big) {
  .factors__title {
    padding: 0;
  }
}
