.feedback {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 320px;
  margin: 0 auto 40px;
  padding: 0 15px;
  box-sizing: border-box;
}

.feedback__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

.feedback__title {
  max-width: 450px;
  margin-bottom: 10px;
  padding: 0 15px;
  font-size: 22px;
  line-height: 35px;
  font-weight: 900;
  color: $color-green;
  text-transform: uppercase;
}

.feedback__item {
  margin: 10px 0 0 0;
}

.feedback__item input {
  width: 270px;
  max-width: 100%;
  box-sizing: border-box;
}

.form-call__input {
  max-width: 100%;
}

.feedback__name {
  padding: 10px 20px 10px 40px;
  background: url("../../img/icon/icon-name.svg") no-repeat;
  background-position: 0 50%;
  border-radius: 20px;
  border: 1px solid rgba(109, 180, 104, 0.53);
  cursor: pointer;
  outline: none;

  &:focus::-webkit-input-placeholder {
    color: transparent;
  }

  &:active,
  &:hover,
  &:focus {
    box-shadow: 1px 0 2px rgb(49, 86, 47);
  }
}

.feedback__phone {
  padding: 10px 20px 10px 40px;
  background: url("../../img/icon/icon-phone.svg") no-repeat;
  background-position: 0 50%;
  border-radius: 20px;
  border: 1px solid rgba(109, 180, 104, 0.53);
  cursor: pointer;
  outline: none;

  &:focus::-webkit-input-placeholder {
    color: transparent;
  }

  &:active,
  &:hover,
  &:focus {
    box-shadow: 1px 0 2px rgb(49, 86, 47);
  }
}

.feedback__button {
  width: 100%;
  margin-top: 15px;
  color: #ffffff;
  background: linear-gradient(to right, #f4bf5c, #fb494f);
  border-radius: 50px;
  box-shadow: 3px 0 9px #f87a55;
  outline: none;

  &:active,
  &:hover,
  &:focus {
    background: linear-gradient(to right, #fb494f, #fb494f);
  }
}

@media (min-width: $tablet-width) {
  .feedback {
    flex-direction: row;
    flex-wrap: wrap;
    max-width: $desktop-width-big;
    min-height: 400px;
    margin: 0 auto 40px;

    &--bg {
      background-image: url("../../img/feedback/feedback--bg.jpg");
      background-repeat: no-repeat;
      background-position: right;
      background-size: 50% 100%;
    }

    .feedback__title {
      margin-bottom: 40px;
      font-size: 30px;
      line-height: 30px;
    }
  }

  .feedback__wrapper {
    width: 50%;
  }
}

@media (min-width: $desktop-width) {
  .feedback {
    min-height: 550px;
  }
}
