.form-slider__customer-input {
  width: 100%;
  padding: 10px 20px 10px 40px;
  border: none;
  border-bottom: 1px solid $color-green;
  background-position: 0 50%;
  box-sizing: border-box;

  &--icon-user {
    background: url("../../img/icon/icon-name.svg") no-repeat;
  }

  &--icon-phone {
    background: url("../../img/icon/icon-phone.svg") no-repeat;
  }
}

.form-slider__customer-name {
  margin: 0 0 10px 0;
  width: 100%;
}

.form-slider__customer-phone {
  margin: 0 0 10px 0;
  width: 100%;
}

.form-slider__customer {
  display: flex;
  flex-direction: column;

  &--info {
    display: block;
    max-width: 100%;
    font-size: 14px;
    line-height: 16px;
    padding-left: 10px;
  }
}

.form-slider__button {
  max-width: 200px;
  margin: 0 auto;
  color: #ffffff;
  background: linear-gradient(to right, #f4bf5c, #fb494f);
  border-radius: 50px;
  box-shadow: 3px 0 9px #f87a55;
  outline: 0;
}

@media (min-width: $tablet-width) {
  .form-slider__customer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }

  .form-slider__customer-name {
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
  }

  .form-slider__customer-phone {
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
  }
}

@media (min-width: $desktop-width) {
  .form-slider__list {
    justify-content: space-between;
    align-items: flex-start;
  }

  .form-slider__type {
    width: 25%;
  }
}
