.glazing-type__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.glazing-type__item {
  position: relative;
  padding-left: 40px;
  margin-bottom: 15px;

  &--icon-thermometer::before,
  &--icon-2::before,
  &--icon-3::before,
  &--icon-4::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    display: block;
  }

  &--icon-thermometer::before {
    @include sprite ($page-glazing-thermometer);
  }

  &--icon-2::before {
    @include sprite ($page-glazing-ear-protection);
  }

  &--icon-3::before {
    @include sprite ($page-glazing-reliability);
  }

  &--icon-4::before {
    @include sprite ($page-glazing-raindrop);
  }

  &--icon-pen::before,
  &--icon-calendar::before,
  &--icon-paint::before,
  &--icon-like::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
  }

  &--icon-pen::before {
    @include sprite ($page-glazing-quill);
  }

  &--icon-calendar::before {
    @include sprite ($page-glazing-calendar);
  }

  &--icon-paint::before {
    @include sprite ($page-glazing-paint-brushes);
  }

  &--icon-like::before {
    @include sprite ($page-glazing-icon-easily);
  }
}

.glazing-type__name {
  font-weight: 700;
}
