.logo {
  height: auto;
  margin: 0 auto;
  padding: 15px 0;
}

.logo__link {
  display: block;
}

.logo__pic {
  width: 100px;
  height: auto;
}

@media (min-width: $tablet-width) {
  .logo {
    margin: 0;
  }

  .logo__pic {
    width: 200px;
  }
}

@media (min-width: $desktop-width) {
  .logo__pic {
    width: 220px;
  }
}
