.logo {
  height: auto;
  margin: 0 auto;
  padding: 0;
  max-width: 200px;
}

.logo__link.js-logo {
  display: block;
  padding-left: 15px;
}

.logo__pic {
  width: 150px;
  height: auto;
  margin-top: 23px;
}

@media (min-width: $tablet-width) {
  .logo__link.js-logo {
    display: none;
  }

  .logo {
    margin: 0;
  }

  .logo__link {
    display: block;
  }

  .logo__pic {
    width: 80%;
    margin-top: 0;
  }
}

@media (min-width: $desktop-width) {
  .logo__pic {
    width: 100%;
  }
}
