.modal-form {
  display: none;
  z-index: 20;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 500px;
  padding: 30px;
  background: #ffffff;
  border-radius: 20px;
  box-shadow: 0 0 57px 0 rgba(34, 34, 34, 0.3);
}

.modal-form-show {
  display: block;
}

.modal-form__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal-form__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 325px;
}

.modal-form__title {
  max-width: 450px;
  margin: 0;
  font-size: 30px;
  line-height: 30px;
  font-weight: 900;
  color: $color-green;
  text-transform: uppercase;
}

.modal-form__close {
  position: absolute;
  top: -5px;
  right: -5px;
  width: 30px;
  height: 30px;
  display: inline-block;
  vertical-align: middle;
  border: none;
  font-size: 36px;
  line-height: 0;
  background-color: transparent;
  text-decoration: none;
  white-space: nowrap;
  user-select: none;
  cursor: pointer;
  transition: 1s;
}

.modal-form__input {
  width: 100%;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  box-shadow: 1px 0 13px $color-green;
  cursor: pointer;
  outline: none;
  box-sizing: border-box;

  &:focus::-webkit-input-placeholder {
    color: transparent;
  }

  &:active,
  &:hover,
  &:focus {
    box-shadow: 1px 0 13px rgb(49, 86, 47);
  }
}

.modal-form__button {
  width: 100%;
  color: #ffffff;
  background: linear-gradient(to right, #f4bf5c, #fb494f);
  border-radius: 50px;
  box-shadow: 3px 0 9px #f87a55;
  outline: none;

  &:active,
  &:hover,
  &:focus {
    background: linear-gradient(to right, #fb494f, #fb494f);
  }
}

.modal-form__text {
  max-width: 300px;
  margin: 15px auto;
}
