.page-header {
  position: relative;
}

.sticky {
  position: fixed !important;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  z-index: 200;
  padding-bottom: 0;
  background-color: #ffffff;
  border-bottom: 5px solid $color-light-green;
}

.sticky + .page-header__wrapper {
  padding-top: 200px;
}

.page-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: $desktop-width-big;
  margin: 0 auto;
}

.page-header__logo {
  display: none;
}

.page-header__nav {
  flex-grow: 1;
}

.page-header__call {
  display: none;
}

.page-header__phone {
  position: relative;
  padding: 0 20px 0 40px;
  font-size: 16px;
  font-weight: 500;
  color: $text-color;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 20px;
    display: block;
    width: 13px;
    height: 18px;
    background-image: url("../../img/sprite-2.png");
    background-repeat: no-repeat;
    background-position: -5px -365px;
  }
}

.page-header__button {
  color: #ffffff;
  background: linear-gradient(to right, #f4bf5c, #fb494f);
  border-radius: 50px;
  box-shadow: 3px 0 9px #f87a55;
  outline: none;

  &:active,
  &:hover,
  &:focus {
    background: linear-gradient(to right, #fb494f, #fb494f);
  }
}

@media (min-width: $mobile-width-only) {
  .page-header__wrapper {
    padding: 15px;
  }

  .page-header__logo {
    flex-grow: 1;
    display: block;
  }
}

@media (min-width: 990px) {
  .page-header__call {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    padding: 0;
  }
}

@media (min-width: 1300px) {
  .page-header__call {
    flex-direction: row;
    align-items: center;
  }
}
