.page-footer {
  position: relative;
  padding: 40px 0;
  color: #ffffff;
  background-color: $color-light-grey;
}

.page-footer__wrapper {
  max-width: $desktop-width-big;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.page-footer__list {
  padding: 0;
  margin: 0 0 20px 0;
  list-style: none;
}

.page-footer__item {
  color: $text-color;
}

.page-footer__link {
  display: block;
  font-size: 14px;
  font-weight: 300;
  color: $text-color;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }

  &--caption {
    margin: 20px 0;
    text-transform: uppercase;
  }
}

@media (min-width: $tablet-width) {
  .page-footer__list {
    &:first-child {
      order: 1;
    }

    &:last-child {
      display: flex;
      flex-wrap: wrap;
      max-width: 540px;
    }
  }

  .page-footer__list:last-child .page-footer__item {
    width: 50%;
  }

  .page-footer__list:last-child .page-footer__link--caption {
    margin: 5px 0;
  }
}

@media (min-width: 1024px) {
  .page-footer__list:last-child {
    display: block;
  }

  .page-footer__list:last-child .page-footer__item {
    width: auto;
  }

  .page-footer__list:last-child .page-footer__link--caption {
    margin: 20px 0;
  }

  .page-footer__list {
    &:first-child {
      display: flex;
      align-items: center;
    }
  }

  .page-footer__list:first-child .page-footer__item {
    margin-right: 10px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__list:first-child {
    display: block;
    order: 0;
  }

  
}
