.page-promo {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: $desktop-width-big;
  margin: 0 auto 50px;
  background-color: #ffffff;
}

.page-promo__wrapper {
  display: flex;
  flex-direction: column;
}

.page-promo__title {
  position: relative;
  max-width: 600px;
  margin-bottom: 5px;
  padding: 0 15px;
  font-size: 24px;
  font-weight: 900;
  line-height: 26px;
  color: $color-green;
  text-transform: uppercase;


  &--width {
    max-width: 375px;
  }
}

.page-promo__item {
  display: flex;
  flex-grow: 1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right 100%;

  &--pl-bg {
    width: 30%;
    background-image: url("../../img/page-plastic-windows/promo/plastic-bg.jpg");
    background-color: #dddddd;
  }

  &--wood-bg {
    width: 30%;
    background-image: url("../../img/page-wooden-windows/promo/wooden-promo-bg.jpg");
    background-color: #dddddd;
  }

  &--gl-bg {
    width: 30%;
    background-image: url("../../img/page-glazing/promo/promo-bg.jpg");
    background-color: #dddddd;
  }

  &--decor-bg {
    width: 30%;
    background-image: url("../../img/page-decoration/promo/promo-bg.jpg");
    background-color: #dddddd;
  }

  &--doors-bg {
    width: 30%;
    background-image: url("../../img/page-doors/promo/promo-doors.jpg");
    background-color: #dddddd;
  }

  &--services-bg {
    width: 30%;
    background-image: url("../../img/page-services/promo/promo-services.jpg");
    background-color: #dddddd;
  }
}

.page-promo__info {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 220px;
  background-size: 100% 70%;
  background-image: url("../../img/page-inner/promo-line.png");
  background-repeat: no-repeat;
  background-position: 0 bottom;
}

.page-promo__caption {
  display: none;
  max-width: 500px;
  padding-left: 15px;
  margin-top: 0;
}

@media (min-width: 425px) {
  .page-promo__title {
    font-size: 30px;
    line-height: 30px;
  }
}

@media (min-width: 550px) {
  .page-promo__title {
    font-size: 35px;
    line-height: 35px;
  }

  .page-promo__info {
    background-size: 100% 65%;
  }
}

@media (min-width: $tablet-width) {
  .page-promo__wrapper {
    min-height: 500px;
    flex-direction: row;
  }

  .page-promo__info {
    position: absolute;
    width: 47%;
    min-height: 420px;
    background-size: 100% 65%;
  }

  .page-promo__title {
    font-size: 40px;
    line-height: 40px;
  }
}

@media (min-width: 800px) {
  .page-promo__caption {
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .page-promo__wrapper {
    position: relative;
    margin: 0 15px;
  }

  .page-promo__title {
    padding: 0;
    font-size: 50px;
    line-height: 50px;
  }

  .page-promo__caption {
    padding-left: 0;
  }
}
