.progress {
  &--bg {
    background-image: url("../../img/progress/progress--bg.jpg");
    background-repeat: no-repeat;
    background-position: 0 100px;
    background-size: 100%;
  }
}

.progress__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: $desktop-width;
  margin: 0 auto;
}

.progress__item {
  width: 100%;
  box-sizing: border-box;
}

.progress__title {
  margin-bottom: 40px;
  padding: 0 15px;
  font-size: 22px;
  line-height: 35px;
  font-weight: 900;
  color: $color-green;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .progress {
    &--bg {
      background-size: 50%;
    }
  }

  .progress__wrapper {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .progress__title {
    font-size: 30px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .progress__item {
    width: 50%;
  }

  .progress {
    &--bg {
      background-size: 45%;
    }
  }
}

@media (min-width: $desktop-width) {
  .progress__title {
    padding: 0;
  }
}

