.projects {
  width: 100%;

  &--bg {
    background: url("../../img/projects-bg.jpg") no-repeat;
    background-size: cover;
    background-color: #eeeeee;
  }
}

.projects__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 300px;
}

.projects__btn {
  padding: 15px 25px;
  font-size: 18px;
  font-weight: 700;
  color: #000000;
  border: 2px solid #000000;
  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .projects__wrapper {
    min-height: 600px;
  }
}
