.promo {
  width: 100%;
  margin-bottom: 40px;
}

.promo__title {
  margin: 0;
  font-size: 30px;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 4px 0 3px $text-color;
}

@media (min-width: $tablet-width) {
  .promo__wrapper {
    min-height: 600px;
  }

  .promo__title {
    font-size: 42px;
  }
}

@media (min-width: $desktop-width) {
  .promo__title {
    font-size: 52px;
  }
}
