.promo-decoration {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: $desktop-width-big;
  margin: 0 auto 50px;
  background-color: #ffffff;
}

.promo-decoration__wrapper {
  display: flex;
  flex-direction: column;
}

.promo-decoration__title {
  position: relative;
  max-width: 600px;
  margin-bottom: 30px;
  padding: 0 15px;
  font-size: 24px;
  font-weight: 900;
  line-height: 26px;
  color: $color-green;
  text-transform: uppercase;

  &::before {
    content: "";
    position: absolute;
    top: auto;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: 10px;
    background-color: #abcb56;
    z-index: 1;
  }
}

.promo-decoration__item {
  display: flex;
  flex-grow: 1;

  &--bg {
    width: 30%;
    background-image: url("../../img/page-decoration/promo/promo-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right 100%;
    background-color: #dddddd;
  }
}

.promo-decoration__info {
  position: relative;
  bottom: 0;
  left: 0;
  min-height: 220px;
  background-size: 100% 70%;
  background-image: url("../../img/page-glazing/promo/promo-1.jpg");
  background-repeat: no-repeat;
  background-position: 0 bottom;
}

@media (min-width: 425px) {
  .promo-decoration__title {
    font-size: 30px;
    line-height: 30px;

    &::before {
      bottom: -10px;
    }
  }
}

@media (min-width: 550px) {
  .promo-decoration__title {
    font-size: 35px;
    line-height: 35px;

    &::before {
      bottom: -10px;
    }
  }

  .promo-decoration__info {
    background-size: 100% 65%;
  }
}

@media (min-width: $tablet-width) {
  .promo-decoration__wrapper {
    min-height: 500px;
    flex-direction: row;
  }

  .promo-decoration__info {
    position: absolute;
    min-height: 380px;
    background-size: 100% 70%;
  }

  .promo-decoration__title {
    font-size: 40px;
    line-height: 40px;

    &::before {
      bottom: -40px;
    }
  }
}

@media (min-width: $desktop-width) {
  .promo-decoration__wrapper {
    position: relative;
    margin: 0 15px;
  }

  .promo-decoration__title {
    padding: 0;
  }
}
