.promo {
  width: 100%;
  margin-bottom: 40px;
}

.promo-slider {
  max-width: 100%;
  min-height: 300px;
  margin: 0 auto;

  &__item {
    position: relative;
    max-height: 670px;
    overflow: hidden;
  }

  &__info {
    position: absolute;
    height: 100%;
    width: 360px;
    background-color: $color-green;
  }

  &__wrapper {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    min-width: 555px;
    padding-left: 100px;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 15px;
      height: 100%;
      background-color: $color-light-green;
      z-index: 1;
    }
  }

  &__title {
    margin-bottom: 30px;
    font-size: 50px;
    font-weight: 900;
    line-height: 50px;
    color: #ffffff;
    text-transform: uppercase;
  }

  &__text {
    margin-bottom: 60px;
    font-size: 25px;
    line-height: 25px;
    font-weight: 500;
    color: #ffffff;
  }

  &__pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.promo__title {
  margin: 0;
  font-size: 30px;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 4px 0 3px $text-color;
}

@media (min-width: $tablet-width) {
  .promo__wrapper {
    min-height: 600px;
  }

  .promo__title {
    font-size: 42px;
  }
}

@media (min-width: $desktop-width) {
  .promo__title {
    font-size: 52px;
  }
}
