.promo-slider {
  max-width: 100%;
  min-height: 300px;
  margin: 0 auto;

  &__item {
    position: relative;
    overflow: hidden;
  }

  &__wrapper {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    padding-left: 20px;
    box-sizing: border-box;

    &--sale {
      margin: 0 15px;
      padding: 0 15px;
      background-color: $color-green;
    }
  }

  &__title {
    margin-bottom: 30px;
    font-size: 36px;
    font-weight: 900;
    line-height: 40px;
    color: #ffffff;
    text-transform: uppercase;
  }

  &__text {
    margin-bottom: 60px;
    font-size: 20px;
    line-height: 20px;
    font-weight: 500;
    color: #ffffff;
  }

  &__pic {
    width: 100%;
    height: 100%;
    min-height: 500px;
    object-fit: cover;
    object-position: top center;
    background-color: $color-green;
  }
}

.promo-slider__date {
  color: #ffffff;
  font-size: 18px;
  margin: 20px 0;
}

@media (min-width: $tablet-width) {
  .promo-slider {
    &__item {
      position: relative;
      height: 670px;
      overflow: hidden;

      &--sale {
        height: 500px;
      }
    }

    &__info {
      position: absolute;
      height: 100%;
      width: 360px;
      background-color: $color-green;
    }

    &__wrapper {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      width: 100%;
      padding-left: 100px;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 15px;
        height: 100%;
        background-color: $color-light-green;
        z-index: 1;
      }

      &--sale {
        position: relative;
        background-color: transparent;
        background-repeat: no-repeat;
        margin: 0;
        padding: 40px 0;
        padding-left: 60px;
        text-align: center;
      }
    }

    &__title {
      margin-bottom: 30px;
      font-size: 50px;
      font-weight: 900;
      line-height: 50px;
      color: #ffffff;
      text-transform: uppercase;
    }

    &__text {
      max-width: 555px;
      margin-bottom: 60px;
      font-size: 25px;
      line-height: 25px;
      font-weight: 500;
      color: #ffffff;

      &--sale {
        max-width: 100%;
      }
    }
  }

  .promo-slider__info {
    &--sale-bg {
      position: absolute;
      top: 0;
      left: 0;
      background-image: url("../../img/page-sale/promo/leaf-1.png");
      background-repeat: no-repeat;
      background-size: 30%;
      background-position: -20px 154px;
      width: 45%;

      &::before {
        content: "";
        position: absolute;
        top: auto;
        bottom: -90px;
        left: 50%;
        transform: translateX(-50%);
        width: 150px;
        height: 200px;
        background-image: url("../../img/page-sale/promo/leaf-2.png");
        background-size: 110%;
        background-position: 0 0;
        z-index: 11;
      }

      &::after {
        content: "";
        position: absolute;
        left: auto;
        right: 0;
        top: 0;
        width: 150px;
        height: 200px;
        background-size: contain;
        background-image: url("../../img/page-sale/promo/leaf-3.png");
        background-repeat: no-repeat;
        z-index: 11;
      }
    }
  }

  .promo-slider__pic {
    &--sale {
      width: 65%;
      position: absolute;
      z-index: -1;
      right: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .promo-slider__info {
    &--sale-bg {
      top: 0;
      left: 0;
      background-size: 30%;
      background-position: -45px 154px;
      width: 45%;

      &::before {
        top: auto;
        bottom: -60px;
        width: 185px;
        height: 200px;
        background-size: 110%;
        background-position: 0 0;
      }

      &::after {
        left: auto;
        right: 25px;
        top: 25px;
        width: 185px;
        height: 200px;
      }
    }
  }
}

@media (min-width: 1300px) {
  .promo-slider__info {
    &--sale-bg {
      background-size: 25%;
      background-position: -80px 80px;

      &::before {
        top: auto;
        bottom: -60px;
        width: 185px;
        height: 200px;
        background-size: 110%;
        background-position: 0 0;
      }

      &::after {
        left: auto;
        right: 25px;
        top: 25px;
        width: 185px;
        height: 200px;
      }
    }
  }
}

