.ready-projects__wrapper {
  position: relative;
  max-width: $desktop-width;
  margin: 0 auto;
}

.ready-projects__title {
  max-width: 450px;
  margin-bottom: 40px;
  padding: 0 15px;
  font-size: 30px;
  line-height: 30px;
  font-weight: 900;
  color: $color-green;
  text-transform: uppercase;
}

.ready-projects__tabs {
  position: absolute;
  right: 0;
  top: 70px;
}

@media (min-width: $tablet-width) {

  .ready-projects__tabs {
    top: 0;
  }

  .slick-initialized .slick-slide {
    display: flex;
  }

  .slick-prev {
    right: 25px;
    left: auto;
  }
  .slick-next {
    right: 0;
  }

  .slick-next, .slick-prev {
    position: absolute;
    display: block;
    height: 20px;
    width: 20px;
    line-height: 0;
    font-size: 0;
    cursor: pointer;
    background: 0 0;
    color: transparent;
    bottom: 0;
    top: auto;
    padding: 0;
    border: 0;
    outline: 0;
    background: #6db468;
  }
}

@media (min-width: $desktop-width-big) {
  .ready-projects__title {
    padding: 0;
  }
}
