.results-work__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: $desktop-width;
  margin: 0 auto;
}

.results-work__title {
  max-width: 500px;
  margin-bottom: 40px;
  padding: 0 15px;
  font-size: 22px;
  line-height: 35px;
  font-weight: 900;
  color: $color-green;
  text-transform: uppercase;
}

.results-work__line {
  margin-bottom: 40px;

  &--bg {
    background: $color-green url("../../img/icon/bg-green.png") repeat;
    background-position: 1% 5%;
  }
}

.results-work__inner {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  max-width: $desktop-width;
  margin: 0 auto;
}

.results-work__item {
  padding: 40px 0;
  color: #ffffff;
}

.results-work__number {
  font-size: 50px;
  line-height: 50px;
  font-weight: 900;
  text-align: center;
}

.results-work__text {
  font-size: 20px;
  line-height: 30px;
  font-weight: 900;
}

@media (min-width: $tablet-width) {
  .results-work__title {
    font-size: 30px;
    line-height: 30px;
  }

  .results-work__inner {
    flex-direction: row;
    padding: 0 15px;
  }
}

@media (min-width: $desktop-width) {
  .results-work__title {
    padding: 0;
  }

  .results-work__number {
    font-size: 70px;
    line-height: 70px;
    font-weight: 900;
    text-align: center;
  }

  .results-work__text {
    font-size: 25px;
    line-height: 40px;
    font-weight: 900;
  }
}

@media (min-width: $desktop-width-big) {
  .results-work__inner {
    padding: 0;
  }
}
