.scheme-work {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 400px;
    max-width: 100%;
    z-index: 0;
    background-image: url("../../img/scheme-work/scheme-work--left-bg_.png");
    background-repeat: no-repeat;
    background-position: 0 55px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 300px;
    z-index: 0;
    background-image: url("../../img/scheme-work/scheme-work--bg_.png");
    background-repeat: no-repeat;
    background-position: 0 250px;
  }

  &--glazing {
    padding-bottom: 20px;
  }

  &--glazing::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 400px;
    max-width: 100%;
    z-index: 0;
    background-image: url("../../img/scheme-work/scheme-work--left-bg_.png");
    background-repeat: no-repeat;
    background-position: 0 135px;
  }
}

.scheme-work__wrapper {
  max-width: $desktop-width;
  margin: 0 auto;
  padding-bottom: 50px;
}

.scheme-work__title {
  max-width: 480px;
  margin-bottom: 40px;
  font-size: 22px;
  line-height: 35px;
  font-weight: 900;
  color: $color-green;
  text-transform: uppercase;
  padding: 0 15px;
}

.scheme-work__list {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 15px;
  margin: 0;
  list-style: none;
}

.scheme-work__item {
  position: relative;
  width: 100%;
  padding: 10px 20px;
  margin-right: 10px;
  margin-bottom: 20px;
  background-color: #ffffff;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0 0 30px 0 rgba(34, 34, 34, 0.3);

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 70%;
    background-color: $color-light-green;
    z-index: 1;
  }
}

.scheme-work__name {
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
}

.scheme-work__info {
  font-size: 18px;
  line-height: 18px;
  font-weight: 300;
}

@media (min-width: 600px) {
  .scheme-work {
    &::before {
      background-position: 0 55px;
    }

    &::after {
      background-position: 0 0;
    }
  }

  .scheme-work__list {
    flex-direction: row;
    flex-wrap: wrap;
    padding-right: 5px;
  }

  .scheme-work__item {
    width: 48%;
    padding: 30px 40px;
    box-sizing: border-box;
  }

  .scheme-work__title {
    font-size: 30px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .scheme-work {
    &::before {
      left: -200px;
      width: 400px;
      background-position: 0 60px;
    }

    &::after {
      background-position: 0 -50px;
    }
  }

  .scheme-work__wrapper {
    padding: 40px 0 80px;
  }

  .scheme-work__item {
    width: 30%;
  }
}

@media (min-width: $desktop-width-big) {
  .scheme-work__title {
    padding: 0;
  }

  .scheme-work__list {
    padding: 0;
  }

  .scheme-work {
    &::before {
      top: 50px;
      left: -150px;
      width: 400px;
    }

    &::after {
      background-position: 0 -50px;
    }
  }
}

@media (min-width: 1650px) {
  .scheme-work {
    &::before {
      left: 100px;
      width: 400px;
    }

    &::after {
      background-position: 0;
      right: 10px;
      width: 700px;
      height: 115%;
    }
  }
}
