.slider-projects {
  margin-top: 60px;
}

.slider-projects__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.slider-projects__pic {
  flex-grow: 1;
  width: 100%;
}

.slider-projects__info {
  flex-grow: 1;
  width: 100%;
}

.slider-projects__inner {
  position: relative;
  padding: 20px;
  box-shadow: 0 0 30px 0 rgba(34, 34, 34, 0.3);

  &::before {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 80%;
    background-color: #abcb56;
    z-index: 1;
  }

  &--left::before {
    right: auto;
    left: 0;
  }
}

.slider-projects__text {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  font-weight: 300;
}

.slider-projects__paginator {
  display: none;
}

.slider-projects__pic--options {
  margin-bottom: 20px;
}

@media (min-width: $tablet-width) {
  .slider-projects__paginator {
    display: block;
    position: absolute;
    right: 100px;
    bottom: -20px;
  }

  .slider-projects__paginator ul {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .slider-projects__paginator ul li {
    margin: 5px;
  }

  .slider-projects__prev,
  .slider-projects__prev-1 {
    padding-left: 50px;
  }

  .slider-projects__prev,
  .slider-projects__next,
  .slider-projects__prev-1,
  .slider-projects__next-1 {
    position: relative;
    font-size: 18px;
    line-height: 18px;
    color: $text-color;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 24px;
      height: 16px;
      background-position: -5px -1270px;
      background-image: url("../../img/sprite-2.png");
      background-repeat: no-repeat;
    }

    &:hover::before {
      width: 24px;
      height: 16px;
      background-position: -5px -1296px;
      transform: rotate(180deg);
    }

    &:active,
    &:hover,
    &:focus {
      color: $color-green;
    }
  }

  .slider-projects__next,
  .slider-projects__next-1 {
    padding-right: 50px;

    &::before {
      left: auto;
      right: 0;
      transform: rotate(180deg);
    }

    &:hover::before {
      width: 24px;
      height: 16px;
      background-position: -5px -1296px;
      transform: rotate(0deg);
    }
  }

  .slider-projects__inner {
    padding: 40px;
  }

  .slider-projects__pic--options {
    margin-bottom: 0;
  }
}

@media (min-width: 769px) {
  .slider-projects {
    margin-top: 0;
  }

  .slider-projects__item {
    flex-direction: row;
  }

  .slider-projects__pic {
    width: 50%;
  }

  .slider-projects__info {
    width: 50%;
  }
}

@media (min-width: $desktop-width) {
  .slider-projects__paginator {
    bottom: 20px;
  }
}
