.social {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.social__list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 20px 0 30px;
  list-style-type: none;
}

.social__item {
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }
}

.social__icon {
  width: 25px;
  height: 25px;
  fill: $color-light-grey-3;
}

.social__link {
  display: block;

  &:hover .social__icon {
    fill: $text-color;
  }
}

@media (min-width: $tablet-width) {
  .social {
    padding: 0;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
