.sprite {
  background-image: url("../../img/sprite.png");
  background-repeat: no-repeat;
  display: block;
}

.sprite-advantages-calendar {
  width: 36px;
  height: 36px;
  background-position: -5px -5px;
}

.sprite-advantages-contract {
  width: 38px;
  height: 38px;
  background-position: -5px -51px;
}

.sprite-advantages-handshake {
  width: 45px;
  height: 45px;
  background-position: -5px -99px;
}

.sprite-advantages-hourglass {
  width: 35px;
  height: 40px;
  background-position: -5px -154px;
}

.sprite-advantages-operator {
  width: 28px;
  height: 42px;
  background-position: -5px -204px;
}

.sprite-advantages-rating {
  width: 44px;
  height: 42px;
  background-position: -5px -256px;
}

.sprite-form-name {
  width: 17px;
  height: 19px;
  background-position: -5px -308px;
}

.sprite-form-phone {
  width: 12px;
  height: 18px;
  background-position: -5px -337px;
}

.sprite-header-phone {
  width: 13px;
  height: 18px;
  background-position: -5px -365px;
}

.sprite-offers-balcony {
  width: 37px;
  height: 37px;
  background-position: -5px -393px;
}

.sprite-offers-balcony-2 {
  width: 43px;
  height: 31px;
  background-position: -5px -440px;
}

.sprite-offers-door {
  width: 25px;
  height: 41px;
  background-position: -5px -481px;
}

.sprite-offers-services {
  width: 39px;
  height: 41px;
  background-position: -5px -532px;
}

.sprite-offers-window {
  width: 29px;
  height: 39px;
  background-position: -5px -583px;
}

.sprite-offers-window-pl {
  width: 37px;
  height: 39px;
  background-position: -5px -632px;
}

.sprite-protection-ear {
  width: 36px;
  height: 36px;
  background-position: -5px -681px;
}

.sprite-protection-ice-crystal {
  width: 32px;
  height: 36px;
  background-position: -5px -727px;
}

.sprite-protection-raindrop {
  width: 27px;
  height: 36px;
  background-position: -5px -773px;
}

.sprite-ready-projects-arrow-left {
  width: 24px;
  height: 16px;
  background-position: -5px -819px;
}

.sprite-ready-projects-arrow-right {
  width: 24px;
  height: 16px;
  background-position: -5px -845px;
}

.sprite-scheme-work-phone {
  width: 13px;
  height: 18px;
  background-position: -5px -871px;
}

.sprite-trophy-one {
  width: 155px;
  height: 123px;
  background-position: -5px -899px;
}

.sprite-trophy-three {
  width: 140px;
  height: 120px;
  background-position: -5px -1032px;
}

.sprite-trophy-two {
  width: 139px;
  height: 119px;
  background-position: -5px -1162px;
}
