.sprite {
  background-image: url("../../img/sprite-2.png");
  background-repeat: no-repeat;
  display: block;
}

.sprite-advantages-calendar {
  width: 36px;
  height: 36px;
  background-position: -5px -5px;
}

.sprite-advantages-contract {
  width: 38px;
  height: 38px;
  background-position: -5px -51px;
}

.sprite-advantages-handshake {
  width: 45px;
  height: 45px;
  background-position: -5px -99px;
}

.sprite-advantages-hourglass {
  width: 35px;
  height: 40px;
  background-position: -5px -154px;
}

.sprite-advantages-operator {
  width: 28px;
  height: 42px;
  background-position: -5px -204px;
}

.sprite-advantages-rating {
  width: 44px;
  height: 42px;
  background-position: -5px -256px;
}

.sprite-form-name {
  width: 17px;
  height: 19px;
  background-position: -5px -308px;
}

.sprite-form-phone {
  width: 12px;
  height: 18px;
  background-position: -5px -337px;
}

.sprite-header-phone {
  width: 13px;
  height: 18px;
  background-position: -5px -365px;
}

.sprite-hover {
  width: 59px;
  height: 59px;
  background-position: -5px -393px;
}

.sprite-normal4 {
  width: 59px;
  height: 59px;
  background-position: -5px -462px;
}

.sprite-offers-balcony {
  width: 37px;
  height: 37px;
  background-position: -5px -531px;
}

.sprite-offers-balcony-2 {
  width: 43px;
  height: 31px;
  background-position: -5px -578px;
}

.sprite-offers-door {
  width: 25px;
  height: 41px;
  background-position: -5px -619px;
}

.sprite-offers-services {
  width: 39px;
  height: 41px;
  background-position: -5px -670px;
}

.sprite-offers-window {
  width: 29px;
  height: 39px;
  background-position: -5px -721px;
}

.sprite-offers-window-pl {
  width: 37px;
  height: 39px;
  background-position: -5px -770px;
}

.sprite-page-glazing-calendar {
  width: 25px;
  height: 25px;
  background-position: -5px -819px;
}

.sprite-page-glazing-ear-protection {
  width: 26px;
  height: 26px;
  background-position: -5px -854px;
}

.sprite-page-glazing-icon-easily {
  width: 26px;
  height: 29px;
  background-position: -5px -890px;
}

.sprite-page-glazing-paint-brushes {
  width: 33px;
  height: 33px;
  background-position: -5px -929px;
}

.sprite-page-glazing-quill {
  width: 26px;
  height: 26px;
  background-position: -5px -972px;
}

.sprite-page-glazing-raindrop {
  width: 23px;
  height: 31px;
  background-position: -5px -1008px;
}

.sprite-page-glazing-reliability {
  width: 24px;
  height: 30px;
  background-position: -5px -1049px;
}

.sprite-page-glazing-thermometer {
  width: 23px;
  height: 33px;
  background-position: -5px -1089px;
}

.sprite-protection-ear {
  width: 36px;
  height: 36px;
  background-position: -5px -1132px;
}

.sprite-protection-ice-crystal {
  width: 32px;
  height: 36px;
  background-position: -5px -1178px;
}

.sprite-protection-raindrop {
  width: 27px;
  height: 36px;
  background-position: -5px -1224px;
}

.sprite-ready-projects-arrow-left {
  width: 24px;
  height: 16px;
  background-position: -5px -1270px;
}

.sprite-ready-projects-arrow-right {
  width: 24px;
  height: 16px;
  background-position: -5px -1296px;
}

.sprite-scheme-work-phone {
  width: 13px;
  height: 18px;
  background-position: -5px -1322px;
}

.sprite-trophy-one {
  width: 155px;
  height: 123px;
  background-position: -5px -1350px;
}

.sprite-trophy-three {
  width: 140px;
  height: 120px;
  background-position: -5px -1483px;
}

.sprite-trophy-two {
  width: 139px;
  height: 119px;
  background-position: -5px -1613px;
}
