.tabs {
  width: 100%;
}

.tabs__list {
  position: absolute;
  top: 63px;
  right: 50%;
  transform: translateX(50%);
  display: flex;
  justify-content: space-between;
  max-width: 300px;
  padding: 0;
  margin: 0;
  list-style: none;

  &--options {
    top: -85px;
    max-width: 500px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.tabs__item {
  flex-grow: 1;
}

.tabs__item a {
  display: flex;
  padding: 10px 30px 10px 35px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 300;
  color: $text-color;
  background-color: #d8d8d8;
  text-decoration: none;
  border-radius: 20px;
  margin-left: -20px;
}

.tabs__item a.tabulous_active {
  color: #ffffff;
  background-color: $color-green;
  box-shadow: 0 0 10px #123610;
  border-radius: 0 20px 20px 0;
}

.tabs__item--active a {
  color: #ffffff;
  background-color: $color-green;
  box-shadow: 0 0 10px #123610;
  border-radius: 0 20px 20px 0;
}

.tabs__item--right a {
  position: relative;
  margin-right: -10px;
}

.tabs__item--left a {
  border-radius: 20px 0 0 20px;
}

.tabs__item.tabs__item--left.tabs__item--active {
  position: relative;
  z-index: 1;
}

@media (max-width: 767px) {
  .tabs__list {
    top: 40px;
  }
}

@media (min-width: $tablet-width) {
  .tabs__list {
    top: 0;
  }
}

@media (min-width: $mobile-width-only) {
  .tabs__list {
    right: 20px;
    transform: none;

    &--options {
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
