.trophy__list {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 0 15px;
  margin: 0;
  list-style: none;
}

.trophy__item {
  padding-top: 160px;
  margin-bottom: 50px;
  text-align: center;

  &--icon-one,
  &--icon-two,
  &--icon-three {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: 50%;
      top: 0;
      transform: translateX(-50%);
    }
  }

  &--icon-one::before {
    @include sprite ($trophy-one);
  }

  &--icon-two::before {
    @include sprite ($trophy-two);
  }

  &--icon-three::before {
    @include sprite ($trophy-three);
  }
}

.trophy__title {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
}

.trophy__info {
  font-size: 18px;
  line-height: 18px;
  font-weight: 300;
}

@media (min-width: $tablet-width) {
  .trophy__list {
    flex-direction: row;
  }
}

@media (min-width: $desktop-width) {
  .trophy {
    padding-top: 100px;
  }

  .trophy__list {
    flex-direction: column;
  }

  .trophy__item {
    padding-left: 160px;
    padding-top: 0;
    margin-bottom: 120px;
    text-align: left;

    &::before {
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }
  }
}

@media (min-width: $desktop-width-big) {
  .trophy__list {
    padding: 0;
  }
}
