$tablet-width: 768px;
$desktop-width: 1140px;
$desktop-width-big: 1440px;
$mobile-width-only: 767px;


// Глобальные переменные
$text-color:               #262726;


$color-green:              #6db468;
$color-light-green:        #abcb56;
$color-dark-grey:          #414141;
$color-dark-grey-2:        #696969;
$color-light-grey:         #e6e6e6;
$color-light-grey-2:       #ededed;
$color-light-grey-3:       #c1c1c1;
$color-light-grey-4:       #d8d8d8;
$color-orange:             #f78d56;
$color-pink:               #fa655b;
$color-dark-pink:          #d2554c;
