$tablet-width: 768px;
$desktop-width: 1140px;
$mobile-width-only: 767px;


// Глобальные переменные
$text-color:               #171717;


$color-green:              #6db468;
$color-light-green:        #abcb56;
$color-dark-grey:          #414141;
$color-light-grey:         #e6e6e6;